* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(150, 207, 245) !important;
}
.container {
  width: 90%;
  margin: 50px auto; /* Reducí el margen superior a 50px */
  background-color: #3498db;
  border-radius: 10px;
}

.container-faq {
  box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.container-faq .title-faq {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
}
.atras {
  display: flex;
  align-self: flex-start;
  width: 20%;
  height: 20%;
}
.atras img {
  width: 20%;
  height: 20%;
}
.container-faq .item-faq {
  box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #78b7e1;
}

.container-faq .item-faq:hover {
  cursor: pointer;
}

.container-faq .item-faq .question {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(43, 51, 122, 0.2);
  padding: 20px 20px 20px 80px;
  transition: 0.4s;
}

.container-faq .item-faq .question .more {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 40px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.4s;
}

.container-faq .item-faq .question .more:hover {
  box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.4);
}

.container-faq .item-faq .question span {
  position: absolute;
  left: 10px;
  font-size: 3rem;
  top: 10px;
  opacity: 0.1;
}

.container-faq .item-faq .answer {
  position: relative;
  padding: 0 20px 0 80px;
  overflow: hidden;
  height: 0;
  transition: 0.4s;
}

.container-faq .item-faq .answer p {
  font-size: 1.3rem;
}

.container-faq .item-faq .answer span {
  position: absolute;
  left: 10px;
  font-size: 3rem;
  top: -10px;
  opacity: 0.2;
}

.question {
  font-weight: bold;
  font-size: 1.5rem;
}

.answer {
  display: none;
  color: rgb(41, 43, 44);
}

.question.active + .answer {
  display: block;
  font-weight: bold;
}
 .atras img:hover{
    cursor: pointer;
 }

@media (max-width: 1200px) {
  .atras {
    width: 45%;
    height: 45%;
  }
}
